// Variables


//Primary colors-------------
$color-navy: #0D1840;
$color-pink: #FD9ACD;
$color-white: #FFFFFF;

//Secondary Colors------------
$color-dark-navy: #0A122F;
$color-light-navy: #2F3E71;
$color-cloud: #ECF6FC;

//Toolkit colors--------------

//security = Orange
$color-light-orange: #F48210;
$color-dark-orange: #C86B0E;

//Compliance = Blue
$color-light-blue: #63B6F8;
$color-dark-blue: #0F7CD2;

//Health = Turquoise
$color-light-turquoise: #5AE2B1;
$color-dark-turquoise: #43A984;

//Main font
$font-main: 'Open Sans', sans-serif;


