

.app-explore {
    background: linear-gradient(
        180deg
        ,transparent,rgba(0,0,0,.4) 59.9%);
}

.app-explore-container {
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    padding-bottom: 70px;
    max-width: 1240px;
    width: 100%;
    margin: auto;
}

.app-explore-title {
    @include h2;
    padding-bottom: 70px;
    
}

.app-explore-cards {
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.app-explore-card {
    background-color: #252F53;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 43px 47px;
}

.app-explore-card-title {
    @include h3;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 20px;
}

.app-explore-card-content{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.85;
    padding-bottom: 30px;
}

.app-explore-content {
    padding-top: 16%;
}

.app-explore-cta-title {
    @include h2;
}